.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}
.formulario{
  display: grid;
  grid-template-columns: 50% 50%;
}
.formulario2{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.formulario3{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

label input[type="radio"] {
  margin: 0 5px;
}

.cancelar {
  background-color: #f02e27;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  
}

.siguiente {
  background-color: #1a2fee;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cancelar:hover {
  background-color: #b41515;
}

.siguiente:hover {
  background-color: #1c19b4;
}

.ocult{
  display: none;
}