.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px
px
;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.reportes {
    margin: auto;
    display: grid;
    width: 750px;
    height: 300px;
    grid-template-columns: 50% 50%;
}


/* Estilos generales para las tarjetas */
.card {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: right;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    
  }

  /* Estilos para la tarjeta azul */
  .card-blue {
    background-color: #3498db;
    color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  /* Estilos para la tarjeta verde */
  .card-green {
    background-color: #2ecc71;
    color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  /* Estilos para la tarjeta amarilla */
  .card-yellow {
    background-color: #f39c12;
    color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
  }